BOT_TOKEN=<Token Generated Using BotFather>
DB_PASSWORD=<Mongodb user password>
DB_USERNAME=<Mongodb username>
DB_ENDPOINT=cluster.abcxyz.mongodb.net/?retryWrites=true&w=majority
MYID=<Your telegram Userid, Only telegram User with this ID Will be able to access bot features>
